Name: Isaac Ndirangu Muturi  
ID: 179073d77241f000  
Email: ndirangumuturi749@gmail.com

## load data

In [1]:
import pandas as pd
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

## question 1

In [2]:
df_shape = df.shape
print("No of rows:", df_shape[0])
print("No of columns:", df_shape[1])

No of rows: 60943
No of columns: 12

## question 2

In [3]:
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

## question 3

In [4]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

The error message indicates that you cannot assign a new value to an element of a tuple, as tuples are immutable in Python.

## question 5

In [5]:
# Calculate the correlations with 'Element Code' for each year
correlations = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()
correlations

              Element Code     Y2014     Y2015     Y2016     Y2017     Y2018
Element Code      1.000000  0.024457  0.023889  0.023444  0.024254  0.024279
Y2014             0.024457  1.000000  0.994647  0.996081  0.995230  0.994872
Y2015             0.023889  0.994647  1.000000  0.995739  0.988048  0.988208
Y2016             0.023444  0.996081  0.995739  1.000000  0.992785  0.992757
Y2017             0.024254  0.995230  0.988048  0.992785  1.000000  0.998103
Y2018             0.024279  0.994872  0.988208  0.992757  0.998103  1.000000

In [6]:
# year with the least correlation
correlations['Element Code'].idxmin()

'Y2016'

## question 8

Question 8
Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [ ]:
y = [(2, 4), (7, 8), (1, 5, 9)]

x = y[1][1]
x

## question 10

In [8]:

mean_2017 = df['Y2017'].mean()
std_dev_2017 = df['Y2017'].std()

print("Mean:", mean_2017)
print("Standard Deviation:", std_dev_2017)

Mean: 140.9177648602722
Standard Deviation: 1671.8623590567995

## question 11

In [9]:
selected_columns = df[['Y2017', 'Area']]
area_sum_2017 = selected_columns.groupby('Area')['Y2017'].sum().reset_index()
sorted_areas = area_sum_2017.sort_values(by='Y2017', ascending=True)

seventh_lowest_area = sorted_areas.iloc[6]['Area']

seventh_lowest_area

'Guinea-Bissau'

## question 12

In [10]:
import numpy as np

array = np.array([[94, 89, 63],
                   [93, 92, 48],
                   [92, 94, 56]])

# elements in bold and italics
array[:2, 1:]

array([[89, 63],
       [92, 48]])

## question 13

In [11]:
total_unique_countries = df['Area'].nunique()

total_unique_countries

49

## question 14

In [12]:

element_grouped = df.groupby('Element')['Y2017'].sum()

processing_sum_2017 = element_grouped.get('Processing', 0)

processing_sum_2017

292836.0

## question 15

In [13]:

wine_sum_2015_2018 = df[['Y2015', 'Y2018']].sum()

wine_sum_2015_2018

Y2015    8032340.23
Y2018    8554629.96
dtype: float64

## question 16

In [14]:

column_2014 = df['Y2014']
total_missing_2014 = column_2014.isnull().sum()
total_data_points_2014 = column_2014.count()
percentage_missing_2014 = (total_missing_2014 / total_data_points_2014) * 100
print(f"Percentage: {percentage_missing_2014:.3f}%")
print("Total:", total_missing_2014)

Percentage: 2.677%
Total: 1589

## question 17

In [15]:

years_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

yearly_sum = df[years_columns].sum()

year_with_highest_sum = yearly_sum.idxmax()
year_with_highest_sum

'Y2018'

## question 18

In [16]:
import pandas as pd

Ist = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

pd.DataFrame(Ist, columns=col, index=[1, 2, 3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

# question 19

In [17]:

area_sum = df.groupby('Area').sum()

area_with_highest_sum = area_sum['Y2015'].idxmax()

area_with_highest_sum

'Nigeria'

## question 20

In [18]:
df.Element.value_counts()

Domestic supply quantity                  5295
Import Quantity                           5139
Protein supply quantity (g/capita/day)    5023
Fat supply quantity (g/capita/day)        5023
Food supply (kcal/capita/day)             5014
Food                                      4941
Food supply quantity (kg/capita/yr)       4905
Residuals                                 4655
Export Quantity                           4403
Stock Variation                           4232
Production                                3881
Processing                                2010
Losses                                    2009
Other uses (non-food)                     1732
Feed                                      1319
Seed                                       762
Tourist consumption                        555
Total Population - Both sexes               45
Name: Element, dtype: int64

In [19]:

madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015']

total_protein_supply_2015 = madagascar_2015.sum()

total_protein_supply_2015

173.04999999999998